/*Checkout layout*/

#cart h1{
    margin-top: 10rem;
    margin-bottom: 3rem;
    margin-left: 0;
}

#cart h5{
    margin-top: 3rem;
}

#cart h4{
    text-align: left;
    margin: 0;
    padding: 0;

    max-width: 100%;
    padding-bottom: 1rem;
    border-bottom-width: 0.05rem;
    border-bottom-style: solid;
    border-bottom-color: #9caeb6;
}

.radioButton {
    display: flex;
    align-items: center;
    gap: 0.5rem; 
    width:1rem; 
    
    margin-bottom: 2rem;
    margin-top: 1rem;
}

#paymentForm button{
    margin-top: -1rem;
    margin-bottom:0;
}

.checkoutLayout {
  display: flex;   
  gap: 2rem;     
  align-items: flex-start;
}

#orderSummary p,
#paymentForm p{
  font-size: 13px;
}

#orderSummary,
#paymentForm {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;      
  background-color: #202a2e;
  padding: 1.5em;
  border-radius: 3px;

  filter: drop-shadow(3px 3px 3px rgb(45, 45, 45));

  max-width: 700px;
  min-height: 400px;
}

.inline{
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}
/*Checkout Layout ^^^*/

/*Suggestions layout*/
#suggested button{
    margin-bottom: 1rem;
}

#suggested h2{
    margin-left: 0;
    color: white;
    font-weight: 300;
}

/*(source: https://www.w3schools.com/howto/howto_css_menu_horizontal_scroll.asp)*/
.scrollmenu {
    display: flex;
    overflow: auto; 
    flex-wrap: nowrap;
    justify-content: space-evenly;
    gap: 2rem;

    margin-bottom: 5rem;

}

.scrollmenu .menuItem {
    flex-shrink: 0;         
    width: 250px;           
    flex-wrap: nowrap;
    text-align: center;
    justify-content: center;
}

#suggested .container{
    padding-left: 1rem;
}
/*Suggestions layout ^^^*/