/*
  LAYOUT AND GRIDS
  Grid styling for webpages
*/

.noBullets {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #3b4b54;
  border-bottom-style: solid;
  border-bottom-color:#9caeb6;
  border-bottom-width: 0.5px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  z-index: 1000;        
  box-sizing: border-box;
}

.imgSizing{
  max-width: 500px;
  height: auto;
  margin-right: 2em;
}

#footer{
  max-width: 100%;
  height: auto;
  background-color: #202a2e;
  padding-bottom: 2rem;

  display: flex;          
  flex-direction: column; 
}

#footer h3{
  margin-left:7rem;
}

.item{
  flex-grow: 1;      
  flex-shrink: 1;     
  text-align: left;
  margin-left: 7rem;
}

.itemRight{
  flex-grow: 1;      
  flex-shrink: 1;     
  text-align: left;
  text-align: right;     
  margin-right: 2rem;  
}

.splitScreen{
  display: flex; 
  flex: 1;             
  justify-content: flex-start; 
  gap: 1rem;                   
  flex-wrap: wrap;
  align-items: flex-end            
}

#paymentForm h4{
    text-align: left;
}

textarea{
    border-radius: 2px;
    font-size: 13px;
    padding: 0.5rem;
    width: 600px;
    height: 100px;
}

.inline{
  display: flex;                 
  justify-content: space-between;
  align-items: center; 
}

.imgMain{
  margin-top: 0;
  width: 100%;
}

