/*
  LAYOUT AND GRIDS
  Grid styling for webpages
*/

/*Main Starting Page*/
.imgMain{
  position: relative;
  margin-top: 0;
  width: 100%;
}

/*words ontop of image (source: https://www.w3schools.com/howto/howto_css_image_text.asp)*/
#homePage{
  position: relative;
  text-align: center;
  color: white;
}

#homePage h1{
  font-size: 100px;

  position: absolute;
  top: -70px;
  left: 3rem;
  z-index: 1;
}

#homePage h5{
  font-size: 30px;

  position: absolute;
  top: 140px;
  left: 3rem;
  z-index: 1;
}

.arrow{
  height: 70px;
  width: auto;

  position: absolute;
  bottom: 10%;
  left: 50%;
  z-index: 1;
}

.arrow:hover, .arrow:focus{
  transform: scale(1.1);
}
/*Main Starting Page^^^*/

/*About Us Layout*/
.imgSizing{
  max-width: 500px;
  height: auto;
  margin-right: 2em;
}
/*About Us Layout^^^*/

/*Remove points from lists */
.noBullets {
  list-style: none;
  padding: 0;
  margin: 0;
}
/*Remove points from lists^^^*/

/*Webpage Footer Layout*/
#footer{
  max-width: 100%;
  height: auto;
  background-color: #202a2e;
  padding-bottom: 2rem;

  display: flex;          
  flex-direction: column; 
}

#footer h3{
  margin-left:7rem;
}

.item{
  flex-grow: 1;      
  flex-shrink: 1;     
  text-align: left;
  margin-left: 7rem;
}

.itemRight{
  flex-grow: 1;      
  flex-shrink: 1;     
  text-align: left;
  text-align: right;     
  margin-right: 2rem;  
}

.splitScreen{
  display: flex; 
  flex: 1;             
  justify-content: flex-start; 
  gap: 1rem;                   
  flex-wrap: wrap;
  align-items: flex-end            
}
/*Webpage footer layout^^^*/

#paymentForm h4{
    text-align: left;
}

textarea{
  border-radius: 2px;
  font-size: 13px;
  padding: 0.5rem;
  width: 600px;
  height: 100px;
}

.inline{
  display: flex;                 
  justify-content: space-between;
  align-items: center; 
}

