/*
  LAYOUT AND GRIDS
  Grid styling for webpages
*/

/*Main Starting Page*/
.imgMain{
  position: relative;
  margin-top: 0;
  width: 100%;
}

/*words ontop of image (source: https://www.w3schools.com/howto/howto_css_image_text.asp)*/
#homePage{
  position: relative;
  text-align: center;
  color: white;
}

#homePage h1{
  /*font-size: 100px;*/
  /*(source: https://www.w3schools.com/cssref/func_clamp.php)*/
  font-size: clamp(32px, 6vw, 100px); /*scales the font according to the screen size*/

  position: absolute;
  top: 5%;
  left: 3rem;
  z-index: 1;

}

#homePage h5{
  /*font-size: 30px;*/
  font-size: clamp(16px, 2.5vw, 30px);

  position: absolute;
  top: 30%;
  left: 3rem;
  z-index: 1;
}

@media (max-width: 900px) {
  #homePage h5 {
    top: 35%;
  }
}

@media (max-width: 768px) {
  #homePage h1 {
    top: 1%;
  }
  #homePage h5 {
    top: 35%;
  }
}

@media (max-width: 500px) {
  #homePage h5 {
    top: 40%;
  }
}

.arrow{
  height: 5rem;
  width: auto;

  position: absolute;
  bottom: 10%;
  left: 50%;
  z-index: 1;
}

@media (max-width: 1000px) {

   .arrow{
    height: 4rem;
  }
}

@media (max-width: 600px) {

  .arrow{
    height: 2rem;
  }
}


.arrow:hover, .arrow:focus{
  transform: scale(1.1);
}
/*Main Starting Page^^^*/

/*About Us Layout*/
#aboutUs p, h1{

  margin-left: 2rem;
  margin-right: 2rem;
}

.imgSizing{
  max-width: 500px;
  height: auto;
  margin-right: 2em;
  margin-top: 7rem;
}

.aboutItem{
  flex-grow: 1;      
  flex-shrink: 1;     
  text-align: left;
}
/*About Us Layout^^^*/

/*Menu Section Layout*/
.rightAlign{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 0rem;
}

button a{
  text-decoration: none;
}
/*Menu Section Layout*/

/*Contact Us Layout*/
#contactBanner h4 {
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
}

#contactUs h4 {
  text-align: left;
}

#contactBanner p{
  max-width: 400px;
}

#contactBanner{
  /*I did some research on the flex properties: https://www.w3schools.com/cssref/css3_pr_flex.php*/
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;      
  border: 1px solid #dee4e7;
  background-color: #202a2e;
  padding: 1.5em;
  border-radius: 3px;

  filter: drop-shadow(3px 3px 3px rgb(45, 45, 45));

  max-width: 100%;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
/*I did some research to figure out how i can add space to this specific list without using div (source: https://techbrij.com/css-selector-adjacent-child-sibling)*/
.noBullets + .noBullets {
  margin-top: 1rem;
}

.aboutItemRight{
  flex-grow: 1;      
  flex-shrink: 1;     
  text-align: left;
  margin-top: 0;
}

#contactUs .splitScreen {
  align-items: flex-start;
}

/*Contact Us Layout ^^^*/

/*Remove points from lists */
.noBullets {
  list-style: none;
  padding: 0;
  margin: 0;
}
/*Remove points from lists^^^*/

/*Webpage Footer Layout*/

#footer .element{
  border-top: none;
  margin-bottom: 1rem;
  border-bottom-width: 0.05rem;
  border-bottom-style: solid;
  border-bottom-color:#9caeb6;
}

#footer{
  max-width: 100%;
  height: auto;
  background-color: #202a2e;
  padding-bottom: 2rem;

  display: flex;          
  flex-direction: column; 
}

#footer h3{
  margin-left:7rem;
}

.footerItem{
  flex-grow: 1;      
  flex-shrink: 1;     
  text-align: left;
  margin-left: 7rem;
}

.footerItemRight{
  flex-grow: 1;      
  flex-shrink: 1;     
  text-align: left;
  text-align: right;     
  margin-right: 2rem;  
}

.splitScreen{
  display: flex; 
  flex: 1;             
  align-items: flex-end;
  gap: 1rem;                   
  flex-wrap: wrap;         
}
/*Webpage footer layout^^^*/

#paymentForm h4{
    text-align: left;
}

textarea{
  border-radius: 2px;
  font-size: 13px;
  padding: 0.5rem;
  max-width: 600px;
  height: 100px;
}

.inline{
  display: flex;                 
  justify-content: space-between;
  align-items: center; 
}

