/*
  LAYOUT AND GRIDS
  Grid styling for webpages
*/

.no-bullets {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #3b4b54;
  border-bottom-style: solid;
  border-bottom-color:#9caeb6;
  border-bottom-width: 0.5px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  z-index: 1000;        
  box-sizing: border-box;
}

.imgSizing{
  position: absolute;
  top: 130px;
  left: 0;
  max-width: 500px;
  height: auto;
  margin-right: 2em;
}

.item {
  flex-grow: 1;      
  flex-shrink: 1;    
  flex-basis: 30%;  
  text-align: left;
}

#paymentForm h4{
    text-align: left;
}

textarea{
    border-radius: 2px;
    font-size: 13px;
    padding: 0.5rem;
    width: 600px;
    height: 100px;
}

.inline{
    display: flex;                 
    justify-content: space-between;
    align-items: center; 
}